@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
   
    font-family: 'Rubik', sans-serif;
}
.my-container{
@apply w-full lg:w-10/12 mx-auto
}
.my-btn{
    @apply px-6 font-bold rounded py-2 text-white bg-[#ee5684] hover:bg-[#df396b] 
}
.my-active{
    @apply text-[#ee5684] font-semibold
}
.my-primary-color{
    @apply text-[#181d4e]
}
.my-sort-btn{
    @apply px-2 py-2 bg-red-500 rounded-lg text-white
}

/*  */
/* .swiper-container {
    width: 480px;
  }
  
  @media screen and (min-width: 640px) {
    .swiper-container {
     width: 640px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
     width: 768px;
    }
  } */